#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
.light-theme {
  color: #000000;
}
.dark-theme {
  color: white;
}

.display-name {
  display: none;
}

h2 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.nav-container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.change-theme {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: white solid 2px;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.dark-change-theme {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: black;
  border: rgb(0, 0, 0) solid 2px;
  border-radius: 10px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.change-theme:hover {
  background-color: #3f3f3f;
}

.vertical-container {
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 50px;
  position: fixed;
  z-index: 10;
  top: 30px;
  right: 0;
  /* background-color: #f0f0f0; */
}

.phone-nav-container {
  display: none;
  margin: 5vh auto;
  width: 80vw;
  height: 70vh;
  background-color: #000000;
  position: fixed;
  border: white solid 3px;
  border-left: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 10;
}

.phone-nav-container h3 {
  color: white;
  padding: 30px 50px;
}

.display-nav {
  opacity: 1;

  transform: translateX(0);
  transition: transform 1s ease-in, opacity 1s ease-in;
}

.hide-nav {
  opacity: 0;
  transform: translateX(-200px);
  transition: transform 1s ease-out, opacity 1s ease-out;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  border-radius: 50px;
  border: white solid 2px;
  /* z-index: 10; */
}

.dark-navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  border: rgb(0, 0, 0) solid 2px;
}
.vertical-navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  border-radius: 50px;
  border: white solid 2px;
  flex-direction: column;
}

.dark-vertical-navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  border-radius: 50px;
  border: rgb(0, 0, 0) solid 2px;
  flex-direction: column;
}

.name {
  text-align: left;
  background-color: rgb(19, 19, 19);
  border-radius: 30px;
  height: 80%;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  margin: auto 10px;
  font-size: 25px;
}

.dark-name {
  text-align: left;
  background-color: rgb(73, 73, 73);
  border-radius: 30px;
  height: 80%;
  color: rgb(255, 255, 255);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  margin: auto 10px;
  font-size: 25px;
}

.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  padding: 10px;
  color: white;
  margin: 0 10px;
}

.dark-navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  padding: 10px;
  color: rgb(0, 0, 0);
  margin: 0 10px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
  flex-grow: 4;
  /* border-radius: 50px; */
}

.vert-nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 4;
  flex-direction: column;
}

.navbar-content:hover {
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #025119, 0 0 4px #00e692,
    0 0 5px #00e63d, 0 0 6px #00e66b, 0 0 7px #055e46;
  transition: text-shadow 0.25s;

  cursor: pointer;
}

.navbar-socials {
  background: linear-gradient(
    90deg,
    rgba(0, 189, 221, 1) 11%,
    rgba(0, 107, 200, 1) 51%,
    rgba(184, 0, 194, 1) 100%
  );

  padding: 2px 10px;
  height: 80%;
  border-radius: 30px;
  flex-grow: 3;
  margin: 2px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-socials a {
  margin: auto;
  padding: 5px 10px;
}
.navbar-socials img {
  height: 45px;
  width: 50px;
  border-radius: 10px;
}

.navbar-socials img:hover {
  box-shadow: 0 0 4px #fff, 0 0 6px #fff, 0 0 13px #019fb8, 0 0 14px #0073e6,
    0 0 15px #0099e6, 0 0 16px #ad00e6, 0 0 17px #9701a2;

  transition: 0.5s;
}

.vert-nav-socials {
  background: linear-gradient(
    90deg,
    rgba(0, 189, 221, 1) 11%,
    rgba(0, 107, 200, 1) 51%,
    rgba(184, 0, 194, 1) 100%
  );

  width: 80%;
  border-radius: 50px;
  padding: 10px 2px;
  flex-grow: 2;
  margin: 10px 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.vert-nav-socials img {
  height: 40px;
  width: 40px;
}
.vert-nav-socials img:hover {
  box-shadow: 0 0 4px #fff, 0 0 6px #fff, 0 0 13px #019fb8, 0 0 14px #0073e6,
    0 0 15px #0099e6, 0 0 16px #ad00e6, 0 0 17px #9701a2;

  transition: 0.5s;
}

.vert-navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-lr;
  padding: 10px;
  color: white;
  margin: 0 10px;
}

.vert-navbar-content:hover {
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #025119, 0 0 4px #00e692,
    0 0 5px #00e63d, 0 0 6px #00e66b, 0 0 7px #055e46;
  transition: text-shadow 0.25s;

  cursor: pointer;
}

.gif-img {
  border-radius: 300px;
  border-top-left-radius: 0;
  height: 250px;
  width: 350px;
  text-align: right;
}

.tweety-gif {
  border-radius: 300px;
  border-top-right-radius: 0;
  height: 250px;
  width: 350px;
  text-align: left;
}

.right-text-div {
  width: 65%;
  padding: 0px 10px 0px 50px;
}

.left-text-div {
  padding: 0px 50px 0px 10px;
  width: 70%;
}

.intro-container {
  background-color: rgba(15, 15, 15, 0.8);
  width: 70%;
  padding: 30px 50px;
  border-radius: 30px;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: justify;
  font-size: 25px;
  border-top-right-radius: 900px;
  border-bottom-right-radius: 900px;
}

.about-container {
  background-color: rgba(15, 15, 15, 0.8);
  width: 85%;
  padding: 30px 50px;
  border-radius: 30px;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: justify;
  font-size: 25px;
  border-top-left-radius: 900px;
  border-bottom-left-radius: 900px;
  margin: auto;
  margin-right: 15px;
}

.right-div {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.left-div {
  /* width: 35%;
  height: 100%; */
  display: flex;
  justify-content: flex-start;
}
.main-div {
  color: white;
  display: flex;
  align-items: center;
  text-align: justify;
  color: white;
  font-size: 20px;
  height: 100%;
  padding: 50px;
  transition: 0.5s ease-in;
}
.left-col {
  width: 50%;
}

.right-col {
  width: 50%;
}

.main-container {
  margin-top: 20px;
  display: flex;
}

.heading-cont {
  text-align: center;
  padding: 0px 5px;
  margin: 10px 0;
  height: 50px;
  color: rgb(255, 255, 255);
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
  font-size: 45px;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #021e51, 0 0 4px #0082e6,
      0 0 5px #007be6, 0 0 6px #00cbe6, 0 0 7px #05125e;
  }

  50% {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #3702a0, 0 0 10px #d973eb,
      0 0 12px #e750e2, 0 0 15px #ea60ea, 0 0 17px #532763;
  }
  100% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #021e51, 0 0 4px #0082e6,
      0 0 5px #007be6, 0 0 6px #00cbe6, 0 0 7px #05125e;
  }
}

.skills-wheel {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 300px;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.skillbar-container {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.skillbar-container2 {
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-evenly;
}
.skill-bars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgb(62, 78, 97) 100%
  );
  height: 100px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  /* padding: 20px; */
  position: relative;
  width: 650px;
  /* margin: 10px; */
}
.skill-bars2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(91, 67, 77) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  width: 100px;
  height: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  position: relative;
  width: 650px;

  /* left: 10%; */
  /* margin: 10px; */
}

.rotate {
  transform-origin: center center;
  transform: rotate(360deg);
  transition: transform 1.5s;
}

.rotate2 {
  transform-origin: center center;
  transform: rotate(-360deg);
  transition: transform 1.5s;
}
.skillbar-content {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding: 20px;
  width: 70%;
}

.skillbar-content-right {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding: 20px;
  width: 70%;
}
.skillbar-content-right p {
  color: #000000;
  font-weight: bold;
  padding: 20px;
}
.skillbar-content p {
  color: #000000;
  font-weight: bold;
  padding: 20px;
}

.skill-wheel-content {
  width: 100%;
}

.skills-wheel:hover {
  cursor: pointer;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #3702a0, 0 0 15px #d973eb,
    0 0 22px #e750e2, 0 0 25px #ea60ea, 0 0 37px #532763;
  transition: 0.15s ease-in;
}

.hide {
  opacity: 0;
  color: white;
  display: flex;
  align-items: center;
  text-align: justify;
  color: white;
  font-size: 20px;
  height: 100%;
  padding: 50px;
  transition: 0.5s ease-in-out;
}

.parent-bar {
  width: 100%;
  height: 20px;
  border-radius: 30px;
  background-color: #02b3ff;
}

.child-bar {
  height: 17px;
  border-radius: 30px;
  background-color: #0c2245;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  padding: 2px;
  animation: glowingbar 2s infinite;
  outline: #04250d solid 3px;
}

.parent-bar2 {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.child-bar2 {
  background-color: #002f10;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.child-bar2-lightup {
  background-color: #00ff55;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  animation: glowbtn 1s infinite;
}
@keyframes glowingbar {
  0% {
    background: linear-gradient(
      90deg,
      rgb(29, 0, 97) 14%,
      rgba(2, 66, 79, 1) 53%,
      rgba(1, 61, 52, 1) 90%
    );
  }
  25% {
    background: linear-gradient(
      90deg,
      rgba(1, 61, 52, 1) 6%,
      rgb(13, 0, 87) 44%,
      rgba(2, 66, 79, 1) 80%
    );
  }
  50% {
    background: linear-gradient(
      90deg,
      rgba(2, 66, 79, 1) 8%,
      rgba(1, 61, 52, 1) 50%,
      rgb(4, 0, 61) 91%
    );
  }
  75% {
    background: linear-gradient(
      90deg,
      rgba(2, 66, 79, 1) 25%,
      rgba(1, 61, 52, 1) 68%,
      rgba(10, 31, 57, 1) 100%
    );
  }

  100% {
    background: linear-gradient(
      90deg,
      rgb(13, 1, 95) 4%,
      rgba(2, 66, 79, 1) 47%,
      rgba(1, 61, 52, 1) 89%
    );
  }
}

.Slide-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skill-card {
  background-color: #011518a9;
  color: white;
  font-weight: bold;
  box-shadow: 0 8px 16px 5px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  margin: 5px 30px;
  height: 450px;
  width: 1000px;
}

.skill-card:hover {
  box-shadow: 0 3px 20px 10px rgba(0, 255, 247, 0.8);
}

.skill-card img {
  height: 200px;
  width: 200px;
}

.slide-btn {
  background: none;
  border-radius: 300px;
}

.slide-btn:hover {
  box-shadow: 0 3px 20px 10px rgba(0, 255, 247, 0.8);
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  height: 100%;
}

.skills-container {
  margin: 80px auto;
  text-align: center;
  padding: 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}

.hide-popup {
  display: none;
}

.popup-header {
  width: 100%;
  background-color: rgba(28, 28, 28, 0.882);
  display: flex;
  flex-wrap: wrap;
  border: #909090d6 solid 1px;
}
.popup-content {
  width: 70%;
  height: 70%;
  background-color: #000000;
  color: white;
  /* padding: 20px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  border: white solid 1px;
}

.tab {
  margin-top: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 0px;
  background-color: #000000;
  border: #000000 solid 2px;
  width: 40%;
  margin-left: 15px;
}

.popup-header-content {
  display: flex;
  width: 100%;
  background-color: #000000;
  padding: 10px;
}

.popup-header-content img {
  height: 20px;
  width: 20px;
}

.file-path {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: #323232;
  color: white;
  padding: 2px 10px;
  width: 50%;
  border-radius: 5px;
  margin: auto 10px;
}

.close-button {
  background-color: transparent;
  border: none;
  color: white;
  height: 100%;
  padding: 10px 20px;
  cursor: pointer;
}

.close-button:hover {
  background-color: red;
}

.thumbnail-container {
  position: relative;
  height: 75%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin: 5px 10px;
}

.thumbnail:hover {
  /* background-color: gray; */
  box-shadow: 0 0px 16px 5px rgba(0, 211, 231, 0.786);

  cursor: pointer;
}

.thumbnail img {
  height: 90px;
  width: 120px;
}

.projects-heading {
  display: none;
}
.projects {
  margin: 10px 0;
  font-size: 25px;
  animation: projectGlow 2s infinite;
}

.projects:hover {
  cursor: pointer;
}

.preview-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 95%;
}

.video-preview {
  /* position: absolute; */
  z-index: 1;
  width: 100%;
  height: 90%;
}
.close-vid {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: white;
  border: none;
  z-index: 2;
  padding: 10px 20px;
}

.close-vid:hover {
  cursor: pointer;
  background-color: gray;
  /* transition: color 0.5s; */
}

.hide-vid {
  display: none;
}
.whatsapp-img {
  position: absolute;
  bottom: 10px;
  left: 95%;
  height: 80px;
  width: 80px;
  position: sticky;
}

.whatsapp-img img {
  height: 100%;
  width: 100%;
}

.whatsapp-img:hover {
  cursor: pointer;
}

label {
  color: white;
  display: block;
  margin: 5px 0px;
  font-size: 25px;
  padding: 10px;
  width: 50px;
}

input {
  margin: 15px 10px;
  width: 450px;
  height: 30px;
  background-color: #000000;
  border: none;
  color: white;
  border-bottom: white solid 2px;
  padding: 10px;
}

input:focus {
  border: #00e63d solid 2px;
}

.form-container {
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  height: 100%;
  width: 40%;
  margin: 0px auto;
  padding: 40px;
}

form {
  background-color: #000000;
  padding: 20px;
  border: white solid 3px;
  border-radius: 30px;
}

.contact-card {
  background: rgb(18, 18, 18);
  color: white;
  font-weight: bold;
  border-radius: 15px;
  margin: 5px 30px;
  height: 90%;
  padding: 20px;
  width: 90%;
  display: grid;
  align-items: center;
  border: white solid 2px;
}

.sendBtn {
  margin-top: 10px;
  padding: 10px;
  background-color: #000000;
  color: white;
  font-weight: bold;
  width: 90px;
  cursor: pointer;
  border: #295735 solid 2px;
  border-radius: 10px;
}

.sendBtn:hover {
  box-shadow: 0px 0px 20px 10px rgba(2, 177, 130, 0.8);
}

.start-screen {
  background-color: #000000;
  height: 100vh;
}

.welcome-div {
  display: grid;
  color: white;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  animation: glow 2s infinite;
}

.start-btn {
  border-radius: 20px;
  width: 200px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  background: none;
  color: white;
  border: #00e66b solid 2px;
  opacity: 0; /* Start with opacity set to 0 */
  visibility: hidden; /* Start with visibility set to hidden */
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out; /* Add transition for opacity and visibility */
  cursor: pointer;
}

.show-btn {
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease-in-out;

  /* animation: glowbtn 0.75s infinite; */
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  color: white;
  margin: 2vh auto;
  height: 10vh;
}
.hide-simple {
  opacity: 0;
  visibility: hidden;
}

.start-btn:hover {
  animation: glowbtn 0.75s infinite;
}

@keyframes glowbtn {
  0% {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #025119, 0 0 4px #00e692,
      0 0 5px #00e63d, 0 0 6px #00e66b, 0 0 7px #055e46;
  }

  50% {
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #215730, 0 0 10px #73ebbf,
      0 0 12px #50e778, 0 0 15px #60eaa1, 0 0 17px #276353;
  }
  100% {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #025119, 0 0 4px #00e692,
      0 0 5px #00e63d, 0 0 6px #00e66b, 0 0 7px #055e46;
  }
}
.sign {
  color: white;
  text-shadow: none;
}

.bg-container {
  width: 100%;
  height: 100vh;
}
.bg-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.no-disply {
  display: inline;
}

@keyframes projectGlow {
  0% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #81007a, 0 0 4px #00e6e2,
      0 0 5px #00ade6, 0 0 6px #1700e6, 0 0 7px #050e5e;
  }

  50% {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #215730, 0 0 10px #73ebbf,
      0 0 12px #50e778, 0 0 15px #60eaa1, 0 0 17px #276353;
  }
}

@media (max-width: 768px) {
  .no-disply {
    display: none;
  }

  .display-name {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 10px 20px;
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #2d2d2d, 0 0 4px #000000,
      0 0 5px #4c4d4c, 0 0 6px #1d1d1d, 0 0 7px #1e1f1f;
    background-color: #000000;
  }

  .display-name h2 {
    color: white;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 2px #215730, 0 0 1px #73ebbf,
      0 0 2px #50e778, 0 0 5px #60eaa1, 0 0 7px #276353;
  }

  .phone-nav-container {
    display: flex;
    justify-content: flex-start;
    width: 65vw;
    height: 60vh;
  }

  .phone-nav-container h3 {
    flex: 0 0 none;
  }

  .vert-nav-socials {
    display: flex;
    align-items: flex-start;
    width: 30%;
    margin: auto 0px;
    border-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 10px;
    height: 40%;
    background: linear-gradient(
      180deg,
      rgba(0, 189, 221, 1) 11%,
      rgba(0, 107, 200, 1) 51%,
      rgba(184, 0, 194, 1) 100%
    );
  }

  .nav-socials-a {
    width: 20vw;
    height: 20vw;
    display: flex;
    align-items: center;
  }

  .vert-nav-socials img {
    width: 13vw;
    height: 13vw;
  }
  .vert-nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 4;
    flex-direction: column;
  }
  .navbar-button {
    height: 80%;
    background-color: #000000;
    padding: 0px 15px 12px 15px;
    color: white;
    margin: auto 0;
    border: white solid 2px;
    border-radius: 5px;
  }

  .nav-container {
    display: none;
    width: 90vw;
    padding: 10px 5px;
    position: sticky;
    top: 0;
  }

  .navbar {
    background-color: #000000;
    width: 95%;
  }

  .name {
    font-size: 1.5vh;
  }

  .nav-links {
    width: 60%;
  }
  .navbar-content {
    padding: 0;
    font-size: 1.5vh;
  }

  .vert-navbar-content {
    writing-mode: horizontal-tb;
    font-size: 30px;
  }
  .main-div {
    width: 90vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }

  .heading-cont {
    /* height: 100px; */
    padding: 0px 10px;
    font-size: 25px;
  }

  .vertical-container {
    display: none;
  }

  .left-text-div {
    width: 100%;
    padding: 10px;
  }
  .right-div,
  .left-div {
    display: none;
  }

  .intro-container {
    width: 90vw;
    background-color: rgba(15, 15, 15, 0.8);
    padding: 10px 15px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 15px;
    border-radius: 0;
  }
  .intro-para {
    margin: 20px 10px;
    padding: 40px;
    border-radius: 20px;
    border: rgb(255, 255, 255) solid 2px;
  }

  .about-container {
    width: 60%;
    width: 85%;
    padding: 10px 20px;
    border-radius: 0;
    font-size: 15px;
    margin: 0 auto;
  }

  .spline-element {
    width: 400px;
  }

  .pointing-text {
    display: none;
  }

  .right-text-div {
    width: 100vw;
    padding: 0;
    margin: 0;
    /* padding: 0px 10px 0px 50px; */
  }
  .hide {
    height: 100%;
    width: 90vw;
    padding: 10px;
  }

  .skills-container {
    padding: 5px;
    margin: 0 auto;
  }

  .skillbar-container {
    align-items: flex-start;
  }

  .skillbar-container2 {
    align-items: flex-end;
  }
  .skills-wheel {
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
    height: 100px;
    width: 100px;
    font-size: 10px;
    z-index: 6;
  }

  .skill-wheel-content {
    width: 40%;
  }

  .skill-bars {
    height: 2vh;
    width: 40vw;
  }
  .skill-bars2 {
    height: 2vh;
    width: 40vw;
  }
  .skillbar-content {
    margin: 0 40px 0 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding: 5px;
    width: 100%;
    font-size: 10px;
  }
  .skillbar-content-right {
    margin: 0 0 0 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding: 5px;
    width: 100%;
    font-size: 10px;
  }

  .skillbar-content-right p {
    padding: 0 5px 0 20px;
  }
  .skillbar-container {
    height: 10vh;
  }

  .skillbar-container2 {
    height: 10vh;
  }
  .left-col {
    margin-top: 0;
  }

  .right-col {
    margin-top: 0px;
  }
  .child-bar2 {
    background-color: #002f10;
    width: 5px;
    height: 5px;
    border-radius: 5px;
  }

  .child-bar2-lightup {
    background-color: #00ff55;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    animation: glowbtn 1s infinite;
  }

  .skillbar-content p {
    color: #000000;
    font-weight: bold;
    padding: 5px;
  }
  #tsparticles {
    position: fixed;
    width: 80vw;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .close-button {
    display: none;
  }
  .popup {
    position: relative;
    z-index: 5;
  }

  .popup-content {
    margin: 10vh auto;
    width: 95%;
  }

  .projects-heading {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 1.5vh;
    font-weight: bold;
  }

  .thumbnail-container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .thumbnail p {
    text-align: center;
  }
  .skill-card {
    background-color: #011518a9;
    color: white;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 8px 16px 5px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin: 5px 30px;
    height: 650px;
    width: 100%;
  }

  .Slide-container {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .main-container {
    display: block;
    margin: 50px auto;

    height: 90%;
    width: 90%;
  }

  .parent-bar2 {
    width: 13vw;
    height: 20px;
    border-radius: 30px;
    margin: auto;
  }

  .child-bar {
    height: 17px;
    border-radius: 30px;
    background-color: #0c2245;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    padding: 2px;
    animation: glowingbar 2s infinite;
    outline: #04250d solid 3px;
  }

  .form-container {
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    height: 100%;
    width: 90%;
    margin: 20px auto 0 auto;
    padding: 0px 0 10px 0;
  }

  form {
    background-color: #000000;
    padding: 20px;
    border: white solid 3px;
    width: 90%;
  }

  input {
    margin: 15px auto;
    width: 80%;
    height: 30px;
    background-color: #000000;
    border: none;
    color: white;
    border-bottom: white solid 2px;
    padding: 10px;
  }
  .skill-card img {
    height: 120px;
    width: 120px;
  }

  .skill-card p {
    font-size: 20px;
  }
  .slide-btn {
    display: none;
  }
}
